@mixin focus-visible($color) {
  &:focus-visible {
    border: 1px solid var(--focus-color);
    outline: 1px solid var(--focus-color);
    outline-offset: -2px;
  }
}

@mixin elip {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
