@use "mixin.scss" as mixin;

.close-button {
  --size: var(--close-button-size, 32px);
  --color: var(--close-button-color, #000);
  --radius: var(--close-button-radius, 2px);

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  flex: 0 0 var(--size);
  line-height: var(--size);
  cursor: default;
  fill: var(--color);
  color: var(--color);
  border: 1px solid transparent;
  border-radius: var(--radius);
  background-clip: padding-box;
  background-color: transparent;
  outline: none;

  @include mixin.focus-visible();

  &:hover {
    background-color: var(--bg-hover, rgba(0,0,0,.06));
  }

  svg {
    display: block;
  }
}
